.card{
    padding: 30px;
    
}
.text-home{
    padding-left: 25px;
}

.centercoursetext{
    text-align: center;
}
.the {
    display: flex;
}

.Formdiv{

    border-style: dashed;
    border-radius: 10px;
    background-color: #F4F4F4;
    border-color: black;
    padding: 10%;
    margin:10px;
}
.asgn1{
  
    border-color: azure;
    border-style: dashed;
    border-radius: 10px;
    border-color: antiquewhite;
    padding: 10%;
    margin:10px;
    box-shadow: 44px;
}

#indicator{
    padding: 1px 2px;
    background-color: aqua;
    margin-top: 20px;
    border-radius: 20px;
}
#Red-color{ 
    color:  red;
}
#bttn{
    border-radius: 20px;
}

.card-header{
    background-color: #fff !important;
}